.h1 {
    text-align: center;
  }
  
  .courses-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start; /* Center the cards */
    padding: 20px; /* Add padding around the container */
  }
  
  .course-card {
    border: 1px solid #ccc;
    padding: 10px;
    width: 250px; /* Set a minimum width for each card */
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 20px; /* Add margin at the bottom for spacing */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .search-bar {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .search-bar input {
    padding: 10px;
    width: 900px;
    font-size: 16px;
  }  
  
  button {
    margin-top: 10px;
    cursor: pointer;
  }
  