.h1 {
    text-align: center;
  }
  
  .courses-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start; /* Center the cards */
    padding: 20px; /* Add padding around the container */
  }
  
  .course-card {
    border: 1px solid #ccc;
    padding: 10px;
    width: 250px; /* Set a minimum width for each card */
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 20px; /* Add margin at the bottom for spacing */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .search-bar {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .search-bar input {
    padding: 10px;
    width: 900px;
    font-size: 16px;
  }  
  
  button {
    margin-top: 10px;
    cursor: pointer;
    
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
    background: #968c61;
    border: 1px solid #4e954f;
    font-size: 13px;
    height: 31px;
    padding: 0 11px;
    text-align: center;
    width: 100%;
    min-width: 200px;
    font-weight: 500;
    color: #ececec;
    :hover{
        background: #2b2a3f;
        border-color: #F2C200;
        box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
    }
    
  }
  
  /* Add to CourseList.css */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 8px;
  width: 80%; /* Adjust the width as needed */
  height: 80%; /* Adjust the height as needed */
  max-width: 600px; /* Add a maximum width to prevent it from becoming too wide */
  max-height: 400px; /* Add a maximum height to prevent it from becoming too tall */
  overflow: auto; /* Add scrolling if the content overflows the modal */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: red;
}
/* Style for the table in the modal */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 15px;
  text-align: left;
}

/* Style for the close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
